html, body {
    height: 100%;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-size: 30px;
}

div {
    box-sizing: border-box;
}

div#wrapper {
    height: 100%;
    padding-bottom: 128px;
}

div#info-container {
}

div#chord {
    text-align: center;
    font-size: 3em;
}

div#waveform-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

div#play-pause {
    text-align: center;
    font-size: 2em;
}

div#play-pause i {
    display: block;
    margin: 0 auto;
    line-height: 128px;
    vertical-align: middle;
}

.valign:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    margin-bottom: -64px;
    content: '';
}
.valign > .valigned {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
